src/backend/SO115App.WSNue/XSD/EMMA_SF_NUE112_SchedaContatto-Rev3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nue="http://NUE.112.it/NUE112"
	targetNamespace="http://NUE.112.it/NUE112"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified"
>
	<xs:element
		name="ContactCard"
	>
		<xs:complexType>
			<xs:sequence>
				<xs:element
					name="ID"
					type="xs:unsignedInt"
					minOccurs="1"
					maxOccurs="1"
				/>
				<xs:element
					name="CreateDate"
					type="xs:dateTime"
					minOccurs="1"
					maxOccurs="1"
				/>
				<xs:element
					name="CallType"
					type="nue:CallTypeType"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="Operator"
					type="xs:string"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="Reference"
					type="xs:string"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="Classification"
					type="xs:string"
					minOccurs="1"
					maxOccurs="1"
				/>
				<xs:element
					name="ClassificationDetail"
					type="xs:string"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="ClassificationAttribute"
					type="xs:string"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="HighPriority"
					minOccurs="1"
					maxOccurs="1"
				>
					<xs:simpleType>
						<xs:restriction
							base="xs:string"
						>
							<xs:enumeration
								value="TRUE"
							/>
							<xs:enumeration
								value="FALSE"
							/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element
					name="InvolvedNumber"
					minOccurs="0"
					maxOccurs="1"
				>
					<xs:simpleType>
						<xs:restriction
							base="xs:integer"
						>
							<xs:minInclusive
								value="0"
							/>
							<xs:maxInclusive
								value="9999"
							/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element
					name="ContactCardLink"
					type="xs:unsignedInt"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="CompetenceType"
					type="xs:string"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="MainLocation"
					type="nue:MainLocationType"
					minOccurs="0"
					maxOccurs="1"
				/>
				<xs:element
					name="Caller"
					minOccurs="1"
					maxOccurs="1"
				>
					<xs:complexType>
						<xs:sequence>
							<xs:element
								name="Number"
								type="nue:PhoneNumberType"
								minOccurs="0"
								maxOccurs="1"
							/>
							<xs:element
								name="Ope_ID"
								minOccurs="0"
								maxOccurs="1"
							>
								<xs:simpleType>
									<xs:restriction
										base="xs:string"
									>
										<xs:pattern
											value="\d{3}"
										/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element
								name="Surname"
								type="xs:string"
								minOccurs="0"
								maxOccurs="1"
							/>
							<xs:element
								name="Name"
								type="xs:string"
								minOccurs="0"
								maxOccurs="1"
							/>
							<xs:element
								name="Location"
								minOccurs="0"
								maxOccurs="1"
							>
								<xs:complexType>
									<xs:sequence>
										<xs:element
											name="Manual"
											minOccurs="0"
											maxOccurs="1"
										>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														name="PointOfInterest"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="Toponymy"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="Address"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="CivicNumber"
														type="xs:short"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="CivicNumberAdditional"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="City"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="District"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
													<xs:element
														name="Province"
														minOccurs="0"
														maxOccurs="1"
													>
														<xs:simpleType>
															<xs:restriction
																base="xs:string"
															>
																<xs:pattern
																	value="[A-Z]{2}"
																/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element
														name="CrossRoads"
														minOccurs="0"
														maxOccurs="1"
													>
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="Toponymy"
																	type="xs:string"
																	minOccurs="0"
																	maxOccurs="1"
																/>
																<xs:element
																	name="Address"
																	type="xs:string"
																	minOccurs="0"
																	maxOccurs="1"
																/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element
														name="AdditionalInfo"
														type="xs:string"
														minOccurs="0"
														maxOccurs="1"
													/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element
											name="Automatic"
											minOccurs="0"
											maxOccurs="1"
										>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														name="CEDInterforze"
														minOccurs="1"
														maxOccurs="1"
													>
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="Localization"
																	type="nue:LocalizationType"
																	minOccurs="1"
																	maxOccurs="unbounded"
																/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element
														name="eCall"
														minOccurs="0"
														maxOccurs="1"
													>
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="Localization"
																	type="nue:LocalizationType"
																	minOccurs="1"
																	maxOccurs="unbounded"
																/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element
														name="AutomaticAlarms"
														minOccurs="0"
														maxOccurs="1"
													>
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="Localization"
																	type="nue:LocalizationType"
																	minOccurs="1"
																	maxOccurs="unbounded"
																/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element
					name="Called"
					minOccurs="1"
					maxOccurs="1"
				>
					<xs:complexType>
						<xs:sequence>
							<xs:element
								name="Number"
								type="nue:PhoneNumberType"
								minOccurs="0"
								maxOccurs="1"
							/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element
					name="Companies"
					minOccurs="1"
					maxOccurs="1"
				>
					<xs:complexType>
						<xs:sequence>
							<xs:element
								name="Competence"
								minOccurs="1"
								maxOccurs="1"
							>
								<xs:complexType>
									<xs:sequence>
										<xs:element
											name="Primary"
											minOccurs="1"
											maxOccurs="1"
										>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														name="Company"
														type="nue:CompanyType"
														minOccurs="1"
														maxOccurs="1"
													/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element
											name="PublicSecurity"
											minOccurs="1"
											maxOccurs="1"
										>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														name="Company"
														type="nue:CompanyType"
														minOccurs="1"
														maxOccurs="unbounded"
													/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element
								name="ForwardedTo"
								minOccurs="1"
								maxOccurs="1"
							>
								<xs:complexType>
									<xs:sequence>
										<xs:element
											name="Company"
											type="nue:CompanyType"
											minOccurs="0"
											maxOccurs="unbounded"
										/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element
					name="Notes"
					type="nue:NotesType"
					minOccurs="0"
					maxOccurs="1"
				/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType
		name="CallTypeType"
	>
		<xs:restriction
			base="xs:string"
		>
			<xs:enumeration
				value="AutomaticAlarm"
			/>
			<xs:enumeration
				value="CellularPhoneCall"
			/>
			<xs:enumeration
				value="eCall"
			/>
			<xs:enumeration
				value="FixedPhoneCall"
			/>
			<xs:enumeration
				value="PhoneCall"
			/>
			<xs:enumeration
				value="SMS"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType
		name="CompanyCodeType"
	>
		<xs:restriction
			base="xs:string"
		>
			<xs:pattern
				value="(\d|[a-zA-Z]|[-{}]){1,38}"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType
		name="CompanyType"
	>
		<xs:sequence>
			<xs:element
				name="Code"
				type="nue:CompanyCodeType"
				minOccurs="1"
				maxOccurs="1"
			/>
			<xs:element
				name="Enabled"
				type="nue:EnabledType"
				minOccurs="1"
				maxOccurs="1"
			/>
			<xs:element
				name="Description"
				type="xs:string"
				minOccurs="0"
				maxOccurs="1"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType
		name="EnabledType"
	>
		<xs:restriction
			base="xs:string"
		>
			<xs:enumeration
				value="TRUE"
			/>
			<xs:enumeration
				value="FALSE"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType
		name="LocalizationType"
	>
		<xs:sequence>
			<xs:element
				name="Value"
				type="xs:string"
				minOccurs="1"
				maxOccurs="1"
			/>
			<xs:element
				name="Eucaris"
				type="xs:string"
				minOccurs="0"
				maxOccurs="1"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType
		name="MainLocationType"
	>
		<xs:sequence>
			<xs:element
				name="Point"
				type="nue:PointType"
				minOccurs="1"
				maxOccurs="1"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType
		name="NotesType"
	>
		<xs:sequence>
			<xs:element
				name="Note"
				type="xs:string"
				minOccurs="1"
				maxOccurs="unbounded"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType
		name="PhoneNumberType"
	>
		<xs:restriction
			base="xs:string"
		>
			<xs:pattern
				value="\+{0,1}\d{1,20}"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType
		name="PointType"
	>
		<xs:sequence>
			<xs:element
				name="Latitude"
				type="xs:decimal"
				minOccurs="1"
				maxOccurs="1"
			/>
			<xs:element
				name="Longitude"
				type="xs:decimal"
				minOccurs="1"
				maxOccurs="1"
			/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
